<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="../../../assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="../../../assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block" *ngIf="auth.isAutenticado">Usuario: {{ auth.getDocument }}</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a [routerLink]="['/inicio/centro']" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Centro</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['/inicio/empresa']" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Empresa</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a [routerLink]="['/inicio/empleado']" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Empleado</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a [routerLink]="['/inicio/ministerio']" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ministerio</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a [routerLink]="['/inicio/modulo']" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Modulo</p>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a [routerLink]="['/inicio/usuario']" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Usuario</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a [routerLink]="['/inicio/permiso']" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Permiso</p>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a [routerLink]="['/inicio/psicologo']" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Psicólogo</p>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a [routerLink]="['/inicio/usuarioRol']" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Usuario por Rol</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['/inicio/rol']" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Rol</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a (click)="logout()" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Cerrar Sesión</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>